.greetingForm {

}

.inputAndButtonContainer {
}

.error {
    color: red;

}

.input {
    padding: 3px 35px;
}

.input:focus {

}

.errorInput {

    border: #cc0000 1px solid;
}

.button {
    padding: 5px 20px;

}

.button:focus {

}

.button:active {

}

.button:disabled {

}

.text {
    color: #0059b3;
}

.greeting {
    color: rgba(255, 127, 165, 0.65);
}
